.icon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 160px;
}
.child,
.div3 {
  position: absolute;
  top: 13px;
  left: 168px;
}
.child {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 48px;
}
.div2 {
  width: calc(100% - 1302px);
  top: 95px;
  right: 1158px;
  left: 144px;
  height: 48px;
}
.div2,
.div4,
.div5 {
  position: absolute;
}
.div4 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.div5 {
  top: 26.56%;
  left: 28.57%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-cormorant-garamond);
  color: var(--color-black);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 196px;
  height: 64px;
}
.div7,
.div9 {
  top: 26.56%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-cormorant-garamond);
  color: var(--color-black);
  text-align: center;
}
.div7 {
  position: absolute;
  left: 35.71%;
}
.div9 {
  left: 25.51%;
}
.div11,
.div9,
.nav-bar {
  position: absolute;
}
.div11 {
  top: 26.56%;
  left: 30.1%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-cormorant-garamond);
  color: var(--color-black);
  text-align: center;
}
.nav-bar {
  width: calc(100% - 1091px);
  top: 31px;
  right: 506px;
  left: 585px;
  height: 64px;
  display: flex;
  flex-direction: row;
  padding: 0 503px 0 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.icon1 {
  height: 60%;
  width: 14.64%;
  top: 4.44%;
  right: 69.32%;
  bottom: 35.56%;
  left: 16.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button4,
.icon1,
.ru {
  position: absolute;
}
.ru {
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-cormorant-garamond);
  color: var(--color-darkslateblue);
  text-align: center;
}
.button4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 73px;
  left: 1511px;
  width: 27px;
  height: 24px;
}
.div12 {
  top: 0;
  left: 0;
  width: 196px;
  height: 46px;
}
.div12,
.div14,
.div15 {
  position: absolute;
}
.div14 {
  top: 0;
  left: 44px;
  font-size: var(--font-size-xl);
  font-family: var(--font-cormorant-garamond);
  color: var(--color-black);
  text-align: left;
}
.div15 {
  top: 2px;
  left: 0;
  width: 24px;
  height: 24px;
}
.box-arrow-in-right-icon {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
}
.div13 {
  top: 9px;
  left: 56px;
  width: 83px;
  height: 26px;
}
.button5,
.div13,
.icon2 {
  position: absolute;
}
.button5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 8px;
  left: 1412px;
  width: 196px;
  height: 46px;
  overflow: hidden;
}
.icon2 {
  top: 78px;
  left: 1496px;
  width: 14px;
  height: 14px;
}
.div1 {
  top: 0;
  left: 0;
  width: 1920px;
  height: 180px;
  overflow: hidden;
  font-size: 22px;
  font-family: var(--font-cormorant-infant);
}
.div1,
.div16,
.div17 {
  position: absolute;
}
.div16 {
  top: 225px;
  left: 405px;
  display: inline-block;
  width: 1110px;
  height: 100px;
}
.div17 {
  top: 370px;
  left: 722.5px;
  letter-spacing: -0.18px;
  line-height: 26px;
  text-align: left;
  display: flex;
  align-items: center;
  width: 475px;
  height: 56px;
}
.vector-icon {
  position: absolute;
  height: 82.95%;
  width: 11.65%;
  top: 16.4%;
  right: 88.5%;
  bottom: 0.65%;
  left: -0.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div18 {
  position: absolute;
  top: 0;
  left: 64.66px;
  letter-spacing: -0.18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  width: 364px;
  height: 65px;
}
.div19,
.vector-parent {
  position: absolute;
  text-align: left;
}
.vector-parent {
  height: 3.25%;
  width: 22.33%;
  top: 23.51%;
  right: 38.84%;
  bottom: 73.24%;
  left: 38.84%;
  font-family: var(--font-cookie);
}
.div19 {
  top: 581.07px;
  left: 596px;
  letter-spacing: -0.18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  width: 728px;
  height: 51px;
}
.vector-icon1 {
  position: absolute;
  height: 82.95%;
  top: 16.4%;
  bottom: 0.65%;
  left: calc(50% - 214.95px);
  max-height: 100%;
  width: 49.92px;
}
.vector-group {
  position: absolute;
  height: 3.25%;
  top: 33.8%;
  bottom: 62.95%;
  left: calc(50% - 214.33px);
  width: 428.66px;
  text-align: left;
  font-family: var(--font-cookie);
}
.div21 {
  position: absolute;
  top: 787.14px;
  left: 452px;
  display: inline-block;
  width: 1016px;
  height: 139px;
}
.user-icon {
  position: absolute;
  top: -0.75px;
  left: -0.75px;
  width: 54.5px;
  height: 53.5px;
}
.tsutsurinnvgmailcom,
.user-parent {
  position: absolute;
  top: 0;
  left: 69px;
}
.user-parent {
  top: 971.14px;
  left: 782px;
  width: 356px;
  height: 52px;
  font-family: var(--font-cookie);
}
.user-icon1 {
  position: absolute;
  top: -0.75px;
  left: -0.75px;
  width: 54.5px;
  height: 54.5px;
}
.vukolovavgmailcom {
  position: absolute;
  top: 4.08px;
  left: 71px;
  display: inline-block;
  width: 286px;
  height: 44.85px;
}
.user-group {
  position: absolute;
  top: 1068.14px;
  left: 781.5px;
  width: 357px;
  height: 53px;
  font-family: var(--font-cookie);
}
.div22 {
  position: absolute;
  top: 1166.14px;
  left: 525px;
  display: inline-block;
  width: 870px;
  height: 129px;
}
.icon3 {
  top: 1340.14px;
  left: 603.5px;
  width: 713px;
  height: 377px;
  object-fit: cover;
}
.a,
.div24,
.icon3 {
  position: absolute;
}
.a {
  top: 1754.14px;
  left: 599px;
  font-size: 32px;
  text-decoration: underline;
  color: inherit;
  display: inline-block;
  width: 722px;
  height: 104px;
}
.div24 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #a4c1e3;
}
.div25,
.up-child {
  position: absolute;
  top: 58%;
  left: 85.1%;
}
.up-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-481xl);
  background-color: #48c95f;
}
.vector-icon2 {
  position: absolute;
  height: 52.5%;
  width: 52.5%;
  top: 22.5%;
  right: 22.5%;
  bottom: 25%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.up,
.vk-child {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.up {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 28.17%;
  left: 71.83%;
}
.vk-child {
  width: 100%;
  left: 0;
  border-radius: var(--br-481xl);
  background-color: #07f;
}
.vector-icon3 {
  position: absolute;
  height: 35%;
  width: 55%;
  top: 32.5%;
  right: 22.5%;
  bottom: 32.5%;
  left: 22.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tg-child,
.vk {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.vk {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 28.17%;
  right: 71.83%;
}
.tg-child {
  width: 100%;
  right: 0;
  border-radius: var(--br-481xl);
  background-color: #27a6e5;
}
.vector-icon4 {
  height: 42.5%;
  width: 47.5%;
  top: 30%;
  right: 30%;
  bottom: 27.5%;
  left: 22.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div26,
.tg,
.vector-icon4 {
  position: absolute;
}
.tg {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 100%;
  width: 28.17%;
  top: 0;
  right: 35.92%;
  bottom: 0;
  left: 35.92%;
}
.div26 {
  height: 40%;
  width: 7.4%;
  top: 52%;
  right: 92.4%;
  bottom: 8%;
  left: 0.21%;
}
.div27,
.div28 {
  position: absolute;
  top: 58%;
  left: 57.19%;
}
.div28 {
  top: 16%;
  left: 0.21%;
}
.div23,
.div29,
.div30 {
  position: absolute;
  top: 58%;
  left: 79.01%;
}
.div23,
.div30 {
  top: 16%;
  left: 57.19%;
}
.div23 {
  top: 1903.14px;
  left: 0;
  width: 1920px;
  height: 100px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-brygada-1918);
}
.div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2003.14px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-darkslateblue);
  font-family: var(--font-cormorant-garamond);
}
